.dashboard {
  padding: 60px;
  background: #f5f6fa;
  color: #111;
}

.dashboard h2 {
  text-align: center;
  margin-bottom: 40px;
}

canvas {
  max-width: 900px;
  margin: auto;
  display: block;
}
